{% extends 'base.html' %}

{% block header %}
<style>
 h1 {
   margin-top: 30px;
 }

 p {
   margin-bottom: 30px;
 }
</style>
{% endblock header %}

{% block content %}

<h1>レシピ投稿サイト</h1>
<p>みんなでレシピを投稿、シェアしよう！</p>
<hr>
{% for item in object_list %}
<div class="container">
  <div class="card" style="width: 50rem; height: 200px;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ item.name }}</h5>
      <p class="card-text">{{ item.process }}</p>
      <a href="{% url 'detail' item.pk %}" class="btn btn-warning">レシピを見る</a>
      <a href="{% url 'delete' item.pk %}" class="btn btn-danger">レシピを削除</a>
      <a href="{% url 'update' item.pk %}" class="btn btn-success">レシピを編集</a>
    </div>
  </div>
</div>
<hr>

{% endfor %}
{% endblock content %}